@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "About Us";
}
<style>
    body {
        background-color: #f5e3b0;
    }
</style>
<div>

    <img src="~/images/pi.jpg" alt="Bamboo" width="300" height="300">
    <p> Hi Everyone. We have started our company on August 1st 1978.</p>
    <p> We started as a smallbusines in our garage making 10 pillows perday.</p>
    <p>In the year 1981 we bought a small place to expand our business</p>
    <p>The ojective of of our company is to provdie standard products to our customers to meet their needs.</p>
    <p> As our comapany is expanding, our focus is to provide safe,healthy environment for staff and also give them fair wages.</p>
    <p> No matter what size the order is our main focus to deliver the best quality products. Our HeadQuarters is In Windsor,On Canada.</p>
</div>


