@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TM Pillows</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<style>

    body {
        background-color: #FFE5CC;
    }

    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div class="column">
    <img src="DeskTop/images/Cushion.jpg" alt="Cushion" style="width:100%">
</div>
<div class="column">
    <img src="BambooPillow.jpg" alt="Bamboo" style="width:100%">
</div>
<div class="column">
    <img src="RoundThrow.jpg" alt="RoundThrow" style="width:100%">
</div>
<div class="column">
    <img src="Feather.jpg" alt="Feather" style="width:100%">
</div>
<div class="column">
    <img src="SuperSoft.jpg" alt="SuperSoft" style="width:100%">
</div>
<div class="column">
    <img src="NeckRelief.jpg" alt="NeckRelief" style="width:100%">
</div>
<div class="column">
    <img src="BodyRelax.jpg" alt="BodyRelax" style="width:100%">
</div>
<div class="column">
    <img src="MemoryFoam.jpg" alt="Memory Foam" style="width:100%">
</div>
<div class="column">
    <img src="RoundVelvet.jpg" alt="Round Velvet" style="width:100%">
</div>
<div class="column">
    <img src="PancakePillow.jpg" alt="Pancake Pillow" style="width:100%">
</div>







