@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TM Pillows</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<style>

    body {
        background-color: #f5e3b0;
    }
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 30%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div class="column">
    <img src="~/images/Cushion.jpg" alt="Cushion" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/BambooPillow.jpg" alt="Bamboo" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/RoundThrow.jpg" alt="RoundThrow" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/Feather.jpg" alt="Feather" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/SuperSoft.jpg" alt="SuperSoft" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/NeckRelief.jpg" alt="NeckRelief" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/BodyRelax.jpg" alt="BodyRelax" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/MemoryFoam.jpg"  alt="Memory Foam" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/RoundVelvet.jpg" alt="Round Velvet" width="200" height="400">
</div>
<div class="column">
    <img src="~/images/PancakePillow.jpg" alt="Pancake Pillow" width="200" height="400">
</div>







