@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-color: #FFE5CC;
        
    }
</style>





<p>
    Hi Everyone. We have started our company on August 1st 1978.
    We started as a smallbusines in our garage making 10 pillows perday
    In the year 1981 we bought a small place to expand our business.The ojective of of our company is to provdie standard products to our customers to meet their needs.
    As our comapany is expanding, our focus is to provide safe,healthy environment for staff and also give them fair wages. No matter what size the order is our main focus to deliver the best quality products.
    Our HeadQuarters is In Windsor,On Canada.
</p>
